# EditorConfig root file

root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4

[*.{py}]
indent_size = 4

[*.{json,yml,yaml,toml}]
indent_size = 2

[*.{md,txt,rst}]
trim_trailing_whitespace = false

[Makefile]
indent_style = tab

[*.{sh,bash,zsh}]
indent_size = 2

[*.{js,ts,mjs,cjs}]
indent_size = 2

[*.{css,scss,sass}]
indent_size = 2

[*.{html,xhtml}]
indent_size = 2

[*.{rs,go,c,cpp,h,hpp}]
indent_size = 4

[*.log]
indent_size = 1
